body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.navbar{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
}
.menu{
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-around;
    padding-right: 40px;
    
   
}
.menu-text{
    text-decoration: none;
    color: white;
}