body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.navbar{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
}
.menu{
    padding-top: 1%;
    padding-bottom: 1%;
    

}
.menu-text{
    text-decoration: none;
    color: #D5D5D5;
    padding-left: 30px;   
}
 .logo img{
     padding-right: 20px;
 }
 header{
     display: flex;
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 10%;
     padding-bottom: 10%;

     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('shapes/bg1.png');
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

 }
 .header-info{

        width: 50%;
        margin-left: 13.5%;
 }

 .form{
    width: 50%;
    margin-left: 11%;

 }
.login-box{
    width: 60%;
}
.big-logo{
    width: 30%;
}
.header-h1{
    color: white;
    font-weight: 100;
    font-size: 30px;
}
#paragraph{
    color: #D5D5D5;
    text-align: justify;
}
.paragraph-1{
    color: #acabab;
    text-align: justify;
    font-size: 12px;
}

.paragraph-2{
    color: #acabab;
    text-align: justify;
    
}
button{
    text-decoration: none;
    border: solid;
    padding: 10px 25px;
    color: white;
    background-color: transparent;
    margin-top: 16px;

}
.social-media{
    display: flex;
    padding: 5px;   
}
#media{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    color: #c2c2c2;
}

.social-text{
    width: 30%;
    margin-left: 13.5%;
    color: #333333;
}
.social-img{
    width: 50%;
}
.social-img img{
    width: 70%;
    margin-top: 4%;
    padding-left: 13%;
}

.feacture-1{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 13%;
    background-color: #F5F5F5;
}
.sec-1{
    width: 10%;
}
.sec-2{
    width: 45%;
    padding-left: 5%;
}
.sec-3{
    width: 40%;
}
.sec-3 img{
    width: 60%;
    padding-left: 10%;
    padding-top: 15%;
    
}
.tab-1{
    background-color: #FF8B38;
    color: white;
    padding: 40px;
    
}
.tab{
    background-color: #333333;
    color: white;
    margin: 0px;
    padding: 40px;
}
.f-button{
    background-color: #FF8B38;
    color: white;
    border-radius: 5px;
}

.feacture-2{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 13%;
}
.f2{
    width: 50%;
}
.f2 img{
    width: 80%;
}
.feacture-logo{
    display: flex;
}
.f2-half{
    width: 50%;
}